<mat-toolbar>
  <div class="title">
    <a routerLink="/">Silber-Wares</a>
  </div>
  <div class="login-btn" *ngIf="authenticated && showButtons">
    <button *ngIf="isAdmin" mat-raised-button routerLink="/admin">
      Admin
    </button>&nbsp;&nbsp;
    <button mat-raised-button routerLink="/cart">
      Cart
    </button>&nbsp;&nbsp;
    <button  mat-raised-button (click)="logout()">Logout</button>
  </div>
  <div class="login-btn" *ngIf="!authenticated && showButtons">
  <button *ngIf="!authenticated && showButtons" mat-mini-fab routerLink="/login" [disabled]="disableLogin">Login</button>
  </div>
</mat-toolbar>
